.eventList
{
	
	.day
	{
		overflow: hidden;
		background-color: #D4EBF3;
		border: 4px solid white;
		border-radius: 8px;
		min-height: 300px;

		h2.date
		{
			font-size: 24px;
			color: #666;
			
		}
		.timeGrid
		{
			opacity: 0.6;
			pointer-events: none;
			z-index: 80;
			position: absolute;
			height: 100%;
			width: 100%;
			.line
			{
				width: 100%;
				position: absolute;
				.label
				{
					position: relative;
					top: 24px;
				}
				
				text-align: center;
				
				border-bottom:3px dotted rgb(192,192,192);

			}
		}
		.no-events, .no-time-entries, .timeGrid .label
		{
			
			font-size: 48px;
			color: rgb(255,255,255);
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: rgb(192,192,192);

		}
		.no-events, .no-time-entries
		{
			opacity: 0.7;
			position: absolute;
			white-space: nowrap;
			top: 0px;
		}
		.no-events
		{
			left: 64px;
			transform: rotate(90deg);
			transform-origin: top left;
		}
		.no-time-entries
		{
			right: 64px;
			transform-origin: top right;
			transform: rotate(-90deg);
		}
		.timeline
		{

			margin-bottom: 80px;
			transition: 0.6s;



			position: relative;
			//background: linear-gradient(to top, rgba(#154277, 0.5) 0%,rgba(#576e71,0.5) 20%,rgba(#e1c45e,0.5) 50%,rgba(#b26339,0.5) 100%);


			.event, .timeEntry
			{
				width: 80%;
				transition: 0.6s;
				padding-top: 0px;

				overflow: hidden;
				box-sizing: border-box;
				z-index: 50;
				font-size: 12px;
				line-height: 14px;
				.meta
				{
					font-size: 12px;
					color: #323942;
					padding-bottom: 6px;
				}
				
				.project
				{
					font-weight: bold;
				}

				ul
				{
					padding-left: 17px;
				}


				&:hover
				{
					overflow: visible;
					z-index: 100;
					.content
					{
						border-color: white;
						box-shadow: -1px 1px 40px 4px rgba(64,64,64,0.9);
					}
				}
				.content
				{

					min-height: 100%;
					box-sizing: border-box;
					padding: 6px;

					background-color: #FFECD6;

					border-radius: 6px;
					border: 1px solid rgb(120,120,120);
					position: relative;
				}



			}

			.event
			{

				left: 0%;

			}
			.timeEntry
			{
				z-index: 60;
				right: 0px;
				.content
				{
					background-color: rgba(192,255,192,0.9);
				}

			}
		}
	}
}