

@import '.meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/bootstrap';

body { padding-top: 70px; background-color:transparent !important;}


.fixedsticky
{

	top: 0px;
}

.loading
{
	font-size: 24px;
	text-align: center;
	img {
		width: 275px
	}
}

html
{
	background-color: white;
}
